.my-button {
  display: inline-block;
  height: 80px;
  width: 160px;
  margin: 50px;
  background: orange;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
}

.square-to-enter {
  display: inline-block;
  height: 200px;
  width: 200px;
  background: yellow;
  margin: 50px;
  vertical-align: middle;
}
